Makefile
Makefile.in
aclocal.m4
config.h
config.h.in
config.log
config.status
config/
configure
!contrib/spoa_example/Makefile
core
spoa-opentracing
stamp-h1
trace.out
version.h
.deps
.source-md5sums
*.lzma
*.o
*.orig
*.so
*.rej
_*
